<!-- start pagination.liquid (SNIPPET) -->
<div class="pagination">
  {%- if paginate.previous.is_link -%}
    <a class="pagination__item" href="{{- paginate.previous.url -}}">←</a>
  {%- endif -%}

  {%- for part in paginate.parts -%}
    {%- if part.is_link -%}
      <a class="pagination__item" href="{{- part.url -}}">{{- part.title -}}</a>
    {%- else -%}
      {%- assign current_link_class = '' -%}
      {%- if forloop.index == paginate.current_page -%}
        {%- assign current_link_class = 'pagination__item--current' -%}
      {%- endif -%}
      <span class="pagination__item {{ current_link_class }}">{{- part.title -}}</span>
    {%- endif -%}
  {%- endfor -%}

  {%- if paginate.next.is_link -%}
    <a class="pagination__item" href="{{- paginate.next.url -}}">→</a>
  {%- endif -%}
</div>
