{%- capture section_404_template_css -%}
    {%- render 'style-404-template' -%}
{%- endcapture -%}

{%- capture section_404_template_content -%}
    <!-- start 404.liquid (SECTION) -->
    {{- section_404_template_css | replace: 'data-vasta', 'class="critical2"' -}}
    {{- section_404_template_css | replace: 'data-vasta', 'type="lazyload2"' -}}
    <div class="wrapper">
        <h2 class="content-h2">{{ 'general.404.title' | t }}</h2>
        <p class="content-p">{{ 'general.404.subtext_html' | t }}</p>
    </div>
{%- endcapture -%}
{{- section_404_template_content | strip_newlines | replace: '    ' , ' ' | replace: '   ' , ' ' | replace: '  ' , ' ' -}} 