<!-- start header.liquid (SECTION) -->

{%- capture header_css -%}
    {%- render 'style-header' -%}
{%- endcapture -%}

{{- header_css | replace: 'data-vasta', 'class="critical2"' | strip_newlines | replace: '  ' , ' ' -}}
{{- header_css | replace: 'data-vasta', 'type="lazyload2"' | strip_newlines | replace: '  ' , ' ' -}}

{% capture header_content %}
<style>
  :root {
    --vasta_menu_title_color:{{ section.settings.vasta_menu_title_color }};
    --vasta_menu_color:{{ section.settings.vasta_menu_color }};
    --vasta-cart-color:{{ section.settings.vasta_cart_color }};
    --vasta-icon-color-text:{{ section.settings.vasta_icon_color_text }};
    --vasta-icon-color-text-hover:{{ section.settings.vasta_icon_color_text_hover }};
    --vasta-icon-color:{{ section.settings.vasta_icon_color }};
    --vasta-icon-color-hover:{{ section.settings.vasta_icon_color_hover }};

    --vasta-search-placeholder-color: #898989;
    --vasta-search-border-color:{{ section.settings.vasta_search_border_color }};
    --search-button-color:{{ section.settings.vasta_search_button_color }};
    --vasta-search-text-button-color:{{ section.settings.vasta_search_text_button_color }};
    --vasta-search-button-hover-color:{{ section.settings.vasta_search_button_hover_color }};
    --vasta-search-text-button-hover-color:{{ section.settings.vasta_search_text_button_hover_color }};
    --vasta-border-color-on-mobile:{{ section.settings.vasta_border_color_on_mobile }};

    --nav-back-color:{{ section.settings.nav_back_color }};
    --nav-text-color:{{ section.settings.nav_text_color }};
    --vasta-dropdown-menu-color:{{ section.settings.vasta_dropdown_menu_color }};
    --vasta-menu-hover-text-color:{{ section.settings.vasta_menu_hover_text_color }};
    --nav-drpback-color:{{ section.settings.nav_drpback_color }};
    --vasta-dropdown-menu-text-color:{{ section.settings.vasta_dropdown_menu_text_color }};
    --nav-drphover-color:{{ section.settings.nav_drphover_color }};
    --vasta-dropdown-menu-hover-text-color:{{ section.settings.vasta_dropdown_menu_hover_text_color }};
    --vasta_dropdown_menu_border_color: {{ section.settings.vasta_dropdown_menu_border_color }};
    --vasta_dropdown_menu_min_width:  {{ section.settings.min_width_dropdown_menu }}px;
    --vasta_item_nav_menu_font_size:  {{ settings.item_nav_menu_font_size }}px;
    --vasta_item_nav_menu_font_size_tablet:  {{ settings.item_nav_menu_font_size_tablet }}px;
    --vasta_item_nav_menu_dropdown_font_size:  {{ settings.item_nav_menu_dropdown_font_size }}px;
    --vasta_item_nav_menu_dropdown_font_size_tablet:  {{ settings.item_nav_menu_dropdown_font_size_tablet }}px;
    --cart_title_font_size:  {{ section.settings.cart_title_font_size }}px;
    --cart_title_color:  {{ section.settings.cart_title_color }};
    --header_fallback_text_transform: {{ section.settings.header_title_icons }};

    {% if section.settings.background_button_cupon != blank %}
      --vasta-background-button-cuopon:{{ section.settings.background_button_cupon }};
    {% endif %}
  }
</style>


<h3 class="hide">Header</h3>

{%- unless template contains "cart" and settings.only_shipping_bar == false -%}
  {%- render 'header-sitewide' -%}

  {%- unless section.settings.enabled_search_bar == false and section.settings.enable_menu_into_header -%}
    {%- render 'main-menu' -%}
  {%- endunless -%}
{%- else -%}
  {%- render 'header-cart' -%}
{%- endunless -%}

 
{% endcapture %}

{{- header_content | strip_newlines | replace: '  ' , ' ' -}}

{% schema %}
{
  "name": "Header (Sitewide)",
  "class": "main-header",
  "settings": [
    {
      "type": "header",
      "content": "General Settings"
    },
    {
      "type": "image_picker",
      "id": "shop_logo",
      "label": "Logo Image",
      "info": "400x160"
    },
    {
      "type": "checkbox",
      "id": "enable_svg_logo",
      "label": "Enable SVG Logo",
      "default": false
    },
    {
      "type": "html",
      "id": "logo_svg_html",
      "label": "Custom SVG Logo"
    },
    {
      "type": "text",
      "id": "shop_logo_alt",
      "label": "Logo Alt Text"
    },
    {
      "type": "select",
      "id": "choose_custom_dimensions",
      "label": "Choose Custom Dimensions",
      "options": [
        {
          "label": "Custom Logo Max-Width",
          "value": "width"
        },
        {
          "label": "Custom Logo Max-Height",
          "value": "height"
        }
      ]
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "unit": "px",
      "label": "Custom Logo Max-Width",
      "default": 180
    },
    {
      "type": "range",
      "id": "logo_max_height",
      "min": 30,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Custom Logo Max-Height",
      "default": 50
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "mobile_logo_max_width",
      "min": 50,
      "max": 150,
      "step": 10,
      "unit": "px",
      "label": "Custom Logo Max-Width Mobile",
      "default": 140
    },
    {
      "type": "range",
      "id": "mobile_logo_max_height",
      "min": 30,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Custom Logo Max-Height Mobile",
      "default": 90
    },
    {
      "type": "header",
      "content": "Search Bar"
    },
    {
      "type": "checkbox",
      "id": "enabled_search_bar",
      "label": "Enable Search Bar on Desktop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enabled_search_bar_mobile",
      "label": "Enable Search Bar on Mobile",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_menu_into_header",
      "label": "Menu Between Logo And Cart Icon",
      "info": "This option only works when search bar isn't enable."
    },
    {
      "type": "text",
      "id": "header_searchbar_placeholder",
      "label": "Search Bar Placeholder Text"
    },
    {
      "type": "color",
      "id": "vasta_search_border_color",
      "label": "Search Border Color",
      "default": "#e5e5e5"
    },
    {
      "type": "color",
      "id": "vasta_search_button_color",
      "label": "Search Button Color",
      "default": "#3c3c3c"
    },
    {
      "type": "color",
      "id": "vasta_search_text_button_color",
      "label": "Search Button Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "vasta_search_button_hover_color",
      "label": "Search Button Hover Color",
      "default": "#006ba2"
    },
    {
      "type": "color",
      "id": "vasta_search_text_button_hover_color",
      "label": "Search Button Hover Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "vasta_border_color_on_mobile",
      "label": "Header Border Color On Mobile",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Primary Menu",
      "default": "main-menu"
    },
    {
      "type": "range",
      "id": "min_width_dropdown_menu",
      "min": 100,
      "max": 350,
      "step": 10,
      "unit": "px",
      "label": "Dropdown Menu Minimum Width",
      "default": 200
    },
    {
      "type": "select",
      "id": "header_menu_caps",
      "label": "Navigation Text Transform",
      "options": [
        {
          "label": "Capitalize",
          "value": "capitalize"
        },
        {
          "label": "Uppercase",
          "value": "uppercase"
        },
        {
          "label": "Lowercase",
          "value": "lowercase"
        },
        {
          "label": "Same As Input",
          "value": "none"
        }
      ]
    },
    {
      "type": "header",
      "content": "Navigation Menu Colors"
    },
    {
      "type": "color",
      "id": "nav_back_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "vasta_dropdown_menu_color",
      "label": "(Hover) Item Background",
      "default": "#7c7c7c"
    },
    {
      "type": "color",
      "id": "nav_text_color",
      "label": "Item Text Color",
      "default": "#383838"
    },
    {
      "type": "color",
      "id": "vasta_menu_hover_text_color",
      "label": "(Hover) Item Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "nav_drpback_color",
      "label": "Dropdown Item Background",
      "default": "#626262"
    },
    {
      "type": "color",
      "id": "nav_drphover_color",
      "label": "(Hover) Dropdown Item Background",
      "default": "#f9f9f9"
    },
    {
      "type": "color",
      "id": "vasta_dropdown_menu_text_color",
      "label": "Dropdown Item Text Color",
      "default": "#F5F5F5"
    },
    {
      "type": "color",
      "id": "vasta_dropdown_menu_hover_text_color",
      "label": "(Hover) Dropdown Item Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "vasta_dropdown_menu_border_color",
      "label": "Border Color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "HEADER ICONS"
    },
    {
      "type": "select",
      "id": "header_title_icons",
      "label": "Text Transform",
      "options": [
        {
          "label": "Capitalize",
          "value": "capitalize"
        },
        {
          "label": "Uppercase",
          "value": "uppercase"
        },
        {
          "label": "Lowercase",
          "value": "lowercase"
        },
        {
          "label": "Same As Input",
          "value": "none"
        }
      ]
    },
    {
      "type": "range",
      "id": "cart_title_font_size",
      "min": 10,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Fallback Text Size",
      "default": 18
    },
    {
      "type": "color",
      "id": "vasta_menu_color",
      "label": "Menu Icon Color",
      "default": "#3c3c3c"
    },
    {
      "type": "color",
      "id": "vasta_menu_title_color",
      "label": "Menu Title Color",
      "default": "#3c3c3c",
      "info": "These fields are only available for mobile view."
    },
    {
      "type": "checkbox",
      "id": "enable_custom_icon_cart_svg",
      "label": "Enable Custom SVG Icon Cart",
      "default": false
    },
    {
      "type": "html",
      "id": "custom_icon_cart_svg_html",
      "label": "Custom SVG Icon Cart"
    },
    {
      "type": "checkbox",
      "id": "enable_img_custom_icon_cart",
      "label": "Enable Custom Icon Cart Image",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "img_icon_cart",
      "label": "Icon Cart Image"
    },
    {
      "type": "checkbox",
      "id": "enable_cart_title",
      "label": "Enable Desktop Cart Title",
      "default": false
    },
    {
      "type": "text",
      "id": "cart_title_text",
      "label": "Cart Title Text",
      "default": "Cart"
    },
    {
      "type": "color",
      "id": "cart_title_color",
      "label": "Cart Title Color",
      "default": "#3c3c3c"
    },
    {
      "type": "color",
      "id": "vasta_cart_color",
      "label": "Cart Icon Color",
      "default": "#3c3c3c"
    },
    {
      "type": "color",
      "id": "vasta_icon_color_text",
      "label": "Cart Number Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "vasta_icon_color_text_hover",
      "label": "Cart Number Hover Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "vasta_icon_color",
      "label": "Cart Number Background Color",
      "default": "#26B522"
    },
    {
      "type": "color",
      "id": "vasta_icon_color_hover",
      "label": "Cart Number Background Hover Color",
      "default": "#204A80"
    }
  ]
}
{% endschema %}
