<!-- start menu-mobile.liquid (SECTION) -->


{% style %}
:root {
  --vasta-background-menu-mobile:{{ section.settings.background_color_mobile }};
  --vasta-border-menu-mobile:{{ section.settings.border_color_mobile }};
  --vasta-search-text-color-mobile:{{ section.settings.search_text_color_mobile }};
  --vasta-font-color-menu-mobile:{{ section.settings.font_color_menu_mobile }};
  --vasta-button-color-menu-mobile:{{ section.settings.button_color_menu_mobile }};
  --vasta-button-icon-color-menu-mobile:{{ section.settings.button_icon_color_menu_mobile }};
}
{% endstyle %}

<style>
.js-drawer-open-left .DrawerOverlay,
.cart-open .DrawerOverlay {
	visibility: visible;
	opacity: 1;
}

.js-drawer-open-left .drawer--left {
	-ms-transform: translateX(400px);
	-webkit-transform: translateX(400px);
	transform: translateX(400px);
	overflow: auto;
	z-index: 99999;
}
.drawer--left {
	width: 400px;
	left: -400px;
	border-right: 1px solid var(--vasta-background-menu-mobile, #fff);
	max-width: 85%;
}
.drawer {
	display: flex;
	flex-direction: column;
	top: 0;
	bottom: 0;
	position: fixed;
	-webkit-overflow-scrolling: touch;
	padding: 0 15px 15px;
	color: var(--vasta-font-color-menu-mobile, #444);
	background-color: var(--vasta-background-menu-mobile, #fff);
	transition: all 400ms cubic-bezier(0.46, 0.01, 0.32, 1);
	z-index: 152;
}
.mobile-nav.static {
	margin-top: 0;
}
.mobile-nav.static a.item-link.uppercase {
	padding-bottom: 0;
}
.mobile-nav.static li.mobile-nav__item.dinamic-item a {
	padding: 10px 15px;
	text-decoration: none;
	word-break: break-word;
	width: 90%;
	font-size: 15px;
	display: flex;
	align-items: center;
	line-height: 21px;
	color: var(--vasta-font-color-menu-mobile, #444);
}
.mobile-nav {
	margin: 20px -15px 0 -15px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.mobile-nav .item-menu-mobile.mobile-nav__link img {
	width: 20px;
	margin-right: 10px;
}
.mobile-nav>.dinamic-item+.dinamic-item {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
#Contact_menu-mobile .thank_you {
	color: var(--vasta-font-color-menu-mobile);
}
.drawer__header {
	position: relative;
	display: flex;
	padding: 12px 0;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}
.drawer__title,
.drawer__close {
	font-size: 1.4rem;
}
.drawer__close {
	cursor: pointer;
}
.drawer__close svg {
	width: 20px;
	height: 20px;
}
.drawer__close button {
	position: relative;
	right: 0;
	color: inherit;
	background-color: transparent;
	border: none;
}
.mobile-nav__item {
	position: relative;
	display: block;
}
.search-bar {
	display: flex;
	justify-content: flex-end;
}
.search-bar .input-group-field {
	border-radius: 3px 0 0 3px;
	width: 100%;
	height: 37px;
	border: none;
	padding: 0 10px;
	border: solid 1px var(--vasta-border-menu-mobile, #ccc);
	color: var(--vasta-search-text-color-mobile, #e25c63);
	font-size: 14px;
}
.search-bar .jq-icon-fallback-text {
	border-radius: 0 3px 3px 0;
	padding: 6px 10px 5px;
	background-color: var(--vasta-button-color-menu-mobile, #444);
	color: #fff;
	height: 37px;
}
.search-button-span svg {
	fill: var(--vasta-button-icon-color-menu-mobile, #fff);
}
.nav-icon {
	padding: 10px 15px;
	text-decoration: none;
	width: 100%;
	font-size: 15px;
	align-items: center;
	line-height: 21px;
	display: flex !important;
	flex-direction: inherit !important;
}
.nav-icon svg {
	width: 19px;
	height: 19px;
	fill: var(--vasta-font-color-menu-mobile, #444);
	margin: 0 7px 0 0;
}
.nav-icon a {
	padding: 0 !important;
}
.supports-fontface .jq-icon-fallback-text .icon {
	display: inline-block;
}
.mobile-nav .news_letter_title {
	font-weight: bold;
	text-align: center;
	font-size: 13px;
	width: 100%;
	margin: 0 auto 8px;
}
.mobile-nav .child .item-menu-mobile {
	font-size: 13px;
}
.mobile-nav .button-menu-item {
	display: flex;
	width: 100%;
}
.mobile-nav .item-menu-mobile,
.mobile-nav .mobile-nav__item .item-text .item-link {
	display: flex;
	align-items: center;
	line-height: 21px;
	color: var(--vasta-font-color-menu-mobile, #444);
	padding: 10px 15px;
	text-decoration: none;
	width: 90%;
	font-size: 15px;
}
.mobile-nav .dinamic-item,
.mobile-nav .mobile-nav__item {
	display: flex;
	flex-direction: column;
}
.mobile-nav .dinamic-item .mobile-nav__toggle-open,
.mobile-nav .mobile-nav__item .mobile-nav__toggle-open {
	width: 40px;
	height: 40px;
	background: transparent;
	border: none;
}
.mobile-nav .dinamic-item .mobile-nav__toggle-open:before,
.mobile-nav .mobile-nav__item .mobile-nav__toggle-open:before {
	height: 17px;
	content: "";
	width: 2px;
	background-color: var(--vasta-font-color-menu-mobile, #444);
	top: 0;
	left: 13.5px;
	position: relative;
	display: block;
}
.mobile-nav .dinamic-item .mobile-nav__toggle-open:after,
.mobile-nav .mobile-nav__item .mobile-nav__toggle-open:after {
	width: 17px;
	content: "";
	height: 2px;
	background-color: var(--vasta-font-color-menu-mobile, #444);
	position: relative;
	display: block;
	top: -10px;
	left: 6px;
	transform: rotate(0deg);
	transition: ease all 600ms;
}
.mobile-nav .dinamic-item .anime-plus-hor::after,
.mobile-nav .mobile-nav__item .anime-plus-hor::after {
	transform: rotate(180deg);
	transition: ease all 600ms;
}
.mobile-nav .dinamic-item .anime-plus-ver::before,
.mobile-nav .mobile-nav__item .anime-plus-ver::before {
	transform: rotate(270deg);
	transition: ease all 600ms;
}
.mobile-nav .dinamic-item a svg,
.mobile-nav .mobile-nav__item a svg {
	width: 19px;
	height: 19px;
	fill: var(--vasta-font-color-menu-mobile, #444);
	margin: 0 7px 0 0;
	overflow: visible;
}
.mobile-nav .child {
	display: none;
	margin: 0 0px 0 30px;
}
.mobile-nav .newsletter-opt .newsletter-form.full .contact-form .buttonControlNewsletterForm .buttonNewsletterForm {
	width: 100%;
	margin: 0;
	bottom: 0;
	border: 0;
}
.mobile-nav .newsletter-opt .newsletter-form.full .contact-form .inputControlNewsletter .emailNewsletterForm {
	font-size: 12px;
}
.mobile-nav .newsletter-opt {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 10px 15px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.mobile-nav .newsletter-opt .newsletter-message,
.mobile-nav .newsletter-opt .thank_you {
	display: block;
	text-align: center;
	margin: 0 0 0.5rem;
	text-transform: uppercase;
	line-height: 1.4;
	color: var(--thankYouTextColor);
}
.mobile-nav .newsletter-opt .klaviyo_condensed_styling {
	display: flex;
	justify-content: center;
	height: 36px;
	margin: 0 auto;
	max-width: 100%;
	flex-wrap: wrap;
}
.mobile-nav .newsletter-opt .klaviyo_condensed_styling button input {
	font-size: 7px;
}
.mobile-nav .newsletter-opt .klaviyo_condensed_styling .klaviyo_messages .success_message .thank_you {
	color: var(--vasta-font-color-menu-mobile);
	display: inline;
}
.mobile-nav .newsletter-opt .klaviyo_condensed_styling .klaviyo_inputs_wrapper {
	width: 100%;
}
.mobile-nav .newsletter-opt .klaviyo_condensed_styling .klaviyo_form_actions {
	width: 40%;
	float: left;
}
.mobile-nav .newsletter-opt .klaviyo_condensed_styling .klaviyo_field_group {
	margin: 0;
	float: left;
	border: solid 1px #ccc;
	width: 60%;
	height: 100%;
	color: var(--vasta-font-color-menu-mobile, #444);
	line-height: 20px;
}
.mobile-nav .newsletter-opt .klaviyo_condensed_styling .klaviyo_field_group input {
	width: 100%;
	height: 100%;
	border: none;
	padding: 0 10px;
}
.mobile-nav .klaviyo_condensed_styling .klaviyo_submit_button,
.mobile-nav .klaviyo_styling .klaviyo_submit_button {
	padding: 10px 4px;
	width: 100%;
	height: 36px;
	border-radius: 0;
}
.mobile-nav #klaviyo-button-menu-mobile {
	text-transform: uppercase;
    background-color: var(--newsletter-submit-color);
    color: var(--newsletter-submit-text-color);
}
.mobile-nav #klaviyo-button-menu-mobile:hover,
.mobile-nav #klaviyo-button-menu-mobile:active{
    background-color: var(--newsletter-submit-hover);
    color: var(--newsletter-submit-text-color-hover);
}
@media (max-width: 479px) {
	.mobile-nav .newsletter-opt .klaviyo_condensed_styling .klaviyo_form_actions {
		flex: 0 0 40%;
	}
	.js-drawer-open-left {
		overflow: hidden !important;
	}
}
</style>

<div id="NavDrawer" class="drawer drawer--left" data-section-type="menu-mobile">
  <div>
    <div class="drawer__header">
        <div class="drawer__title">MENU</div>
        <div class="drawer__close js-drawer-close">
          <button type="button" aria-label="id-icon-fallback-text" id="id-icon-fallback-text" class="jq-icon-fallback-text">
            {%- render 'icon-close' -%}
          </button>
        </div>
      </div>
      <!-- begin mobile-nav -->
      {%- if section.settings.enable_mobile_search == true -%}
        {%- render 'search-bar' with placeholder: section.settings.menu_mobile_searchbar_placeholder -%}
      {%- endif -%}
    </div>

    <ul class="mobile-nav dinamic-menu">
      {%- for link in linklists[section.settings.menu].links -%}
        {%- assign index_li =  forloop.index -%}
        {%- for block in section.blocks -%}
          {%- if "icon" == block.type -%}
            {%- if index_li == forloop.index -%}
              {%- assign url_icon =  block.settings.icon_menu_item -%}
              {%- elsif index_li > forloop.index -%}
                {%- assign url_icon =  "" -%}
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
        {%- assign menu = forloop.index -%}
        {%- if link.links != blank -%}

          <li class="dinamic-item">
            <div class="button-menu-item">
              <a id="mobile-menu-{{ menu }}" class="item-menu-mobile mobile-nav__link {{ section.settings.header_menu_caps }}" href="{%- if section.settings.enable_dropdown_clicking -%}#{%- else -%}{{ link.url }}{%- endif -%}">
                {%- unless section.settings.enable_icon_menu == false or url_icon == "" or url_icon contains 'no-image'  or url_icon == blank -%}
                {%- render 'responsive-image',
                  id_prefix: 'menu-mobile',
                  image: url_icon,
                  max_width: 50,
                  active_lazy: false,
                  no_wrap: true, 
                  alt_text: link.title
                -%}
                {%- endunless -%}

                {{ link.title }}
              </a>
              <button type="button" aria-label="id-toggle-open-{{ menu }}" id="id-toggle-open-{{ menu }}" class=" mobile-nav__toggle-open">
                <span class="icon icon-plus" aria-hidden="true"></span>
              </button>
            </div>
            <ul class="child-number-2 child">
              {%- for childlink in link.links -%}

            <li class="dinamic-item">
              {%- assign child1 = forloop.index -%}
              {%- if childlink.links != blank -%}
                <div class="button-menu-item">
                  <a id="mobile-menu-{{ menu }}-{{ child1 }}" class="item-menu-mobile mobile-nav__link {{ section.settings.header_menu_caps }}" href="{%- if section.settings.enable_dropdown_clicking -%}#{%- else -%}{{ childlink.url }}{%- endif -%}">{{ childlink.title }}</a>
                  <button type="button" id="id-nav__toggle-open-{{ menu }}-{{ child1 }}" class=" mobile-nav__toggle-open">
                    <span class="icon icon-plus" aria-hidden="true"></span>
                  </button>
                </div>
                <ul class="child-number-3 child">
                  {%- for child in childlink.links -%}
                    {%- assign child2 = forloop.index -%}
                    <li class="dinamic-item"><a id="mobile-menu-{{ menu }}-{{ child1 }}-{{ child2 }}" class="item-menu-mobile mobile-nav__link {{ section.settings.header_menu_caps }}" href="{{ child.url }}">{{ child.title }}</a></li>
                  {%- endfor -%}
                </ul>
              {%- else -%}
                {%- unless section.settings.enable_icon_menu == false or url_icon == "" or url_icon contains 'no-image' -%}
                  <span style="background-image:url('{{ url_icon }}')"></span>
                {%- endunless -%}
                <a id="mobile-menu-{{ menu }}-{{ child1 }}" class="item-menu-mobile mobile-nav__link {{ section.settings.header_menu_caps }}" href="{{ childlink.url }}">{{ childlink.title }}</a>
              {%- endif -%}
            </li>
          {%- endfor -%}

        </ul>
        </li>
        {%- else -%}
          <li class="dinamic-item">
            <a id="mobile-menu-{{ menu }}" class="item-menu-mobile mobile-nav__link {{ section.settings.header_menu_caps }}" href="{{ link.url }}">
              {%- unless section.settings.enable_icon_menu == false or url_icon == "" or url_icon contains 'no-image' or url_icon == blank -%}
              {%- render 'responsive-image',
                  id_prefix: 'menu-mobile',
                  image: url_icon,
                  max_width: 50,
                  active_lazy: true,
                  no_wrap: true, 
                  alt_text: link.title
                -%}
              {%- endunless -%}

              {{ link.title }}
            </a>
          </li>
        {%- endif -%}
      {%- endfor -%}
      </ul>
      <ul class="mobile-nav static">
      {%- if section.settings.text_email -%}
        <li class="mobile-nav__item dinamic-item">
          <span class="item-text"><a id="mobile-menu-email" class="item-menu-mobile mobile-nav__link {{ section.settings.header_menu_caps }}" href="mailto:{{ settings.text_email }}?Subject=Hello%20again"  target="_top"> {%- render "icon-envelope" -%}{{ settings.text_email }}</a></span>
        </li>
      {%- endif -%}
      {%- if section.settings.text_tel -%}
        <li class="mobile-nav__item dinamic-item">
          <span class="item-text"><a id="mobile-menu-tel" class="item-menu-mobile mobile-nav__link {{ section.settings.header_menu_caps }}" href="tel:{{ settings.text_tel | replace: '+' , '' | replace: '(', '' | replace: ')' , '' | replace: ' ', '' }}"> {%- render "icon-phone" -%}{{ settings.text_tel }}</a></span>
        </li>
      {%- endif -%}
      {%- if shop.customer_accounts_enabled and section.settings.disable_login == false -%}
        {%- if customer -%}
          <li class="mobile-nav__item dinamic-item nav-icon">
            {%- if customer.first_name != blank -%}
              {%- capture first_name -%}{{ customer.first_name }}{%- endcapture -%}
              {%- render 'icon-key' -%} <a id="LoginAccount" class="item-menu-mobile mobile-nav__link" href="/account/logout">{{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}</a>
            {%- else -%}
              {%- render 'icon-create-account' -%} <a id="CreateAccount" class="item-menu-mobile mobile-nav__link" href="/account">{{ 'layout.customer.account' | t }}</a>
            {%- endif -%}
          </li>
          <li class="mobile-nav__item dinamic-item nav-icon">
            {%- render 'icon-logout' -%} <a href="/account/logout" id="customer_logout_link-{{ section.id }}">{{ 'layout.customer.log_out' | t }}</a>
          </li>
        {%- else -%}
          <li class="mobile-nav__item dinamic-item nav-icon">
            {%- render 'icon-key' -%}  <a href="/account/login" id="customer_login_link-{{ section.id }}">{{ 'layout.customer.log_in' | t }}</a>
          </li>
          <li class="mobile-nav__item dinamic-item nav-icon">
            {%- render 'icon-create-account' -%}<a href="/account/register" id="customer_register_link-{{ section.id }}">{{ 'layout.customer.create_account' | t }}</a>
          </li>
        {%- endif -%}
      {%- endif -%}
        {%- if section.settings.enable_mobile_newsletter == true -%}
          {%- if section.settings.select_newsletter == 'klaviyo' and settings.enable_klaviyo_id -%}
            <li class="newsletter-opt">
              {%- render 'newsletter-form-klaviyo', id_klaviyo: block.settings.id_klaviyo, section_id: section.id -%}
          {%- endif -%}
            
          {%- if  section.settings.select_newsletter == 'newsletter-default' -%}
            <li class="newsletter-opt">
              {%- render 'newsletter-form', section_id: section.id -%}
            </li>
          {%- endif -%}
          {%- if  section.settings.select_newsletter == 'newsletter-custom' -%}
            <li class="newsletter-opt">
              <div class="custom-html">{{ settings.custom_newsletter_html }}</div>
            </li>
          {%- endif -%}
        {%- endif -%}
    </ul>
    <!-- //mobile-nav -->
  </div>

{% schema %}
{
  "name": "Mobile Menu (Sitewide)",
  "class": "mobile-menu",
  "settings": [
    {
      "type": "header",
      "content": "Mobile Menu"
    },
    {
      "type": "color",
      "id": "background_color_mobile",
      "label": "Background Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "border_color_mobile",
      "label": "Search Border Color",
      "default": "#4e4e4e"
    },
    {
      "type": "color",
      "id": "search_text_color_mobile",
      "label": "Search Text Color",
      "default": "#4e4e4e"
    },
    {
      "type": "color",
      "id": "button_color_menu_mobile",
      "label": "Search Button Color",
      "default": "#4e4e4e"
    },
    {
      "type": "color",
      "id": "button_icon_color_menu_mobile",
      "label": "Search Button Icon Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "font_color_menu_mobile",
      "label": "Font Color",
      "default": "#000000"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "checkbox",
      "id": "enable_mobile_search",
      "label": "Enable Search Bar on Mobile Menu"
    },
    {
      "type": "checkbox",
      "id": "disable_login",
      "label": "Disable Customer Login",
      "default": false
    },
    {
      "type": "text",
      "id": "menu_mobile_searchbar_placeholder",
      "label": "Search Bar Placeholder Text",
      "default": "Search: Placeholder"
    },
    {
      "type": "checkbox",
      "id": "enable_icon_menu",
      "label": "Enable Mobile Menu Icons"
    },
    {
      "type": "checkbox",
      "id": "text_tel",
      "label": "Enable Phone Number",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "text_email",
      "label": "Enable Email Address",
      "default": true,
      "info": "Please, check that email and phone information are drescribed on 'Theme settings > Store Info'."
    },
    {
      "type": "checkbox",
      "id": "enable_mobile_newsletter",
      "label": "Enable Newsletter on Mobile Menu",
      "default": true
    },
    {
      "type": "select",
      "id": "select_newsletter",
      "label": "Newsletter Manager",
      "info": "Klaviyo only will work if enabled, check it on Newsletter",
      "options": [
        {
          "label": "Klaviyo",
          "value": "klaviyo"
        },
        {
          "label": "Default Shopify Form",
          "value": "newsletter-default"
        },
        {
          "label": "Custom Newsletter",
          "value": "newsletter-custom"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_dropdown_clicking",
      "label": "Enable Dropdown By Clicking Menu Item"
    }
  ],
  "blocks": [
    {
      "type": "icon",
      "name": "Mobile Menu Icon",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon_menu_item",
          "label": "Icon Image",
          "info": "40x40"
        }
      ]
    }
  ]
}
{% endschema %}

<script type="lazyload2">
  setTimeout(function(){
  $(document).on('click', '.header__icon__wrap.icon--menu', function(){
    if($('body').hasClass('js-drawer-open-left'))
      $('body').removeClass('js-drawer-open-left');
    else {
      $('.main-content').addClass('is-moved-by-drawer');
      $('.fixed').addClass('is-moved-by-drawer');
      $('.shopify-section header').addClass('is-moved-by-drawer');
      $('.search').addClass('is-moved-by-drawer');
      $('body').addClass('js-drawer-open-left');
    }
  });

  $(document).on('click', '.drawer__close, .DrawerOverlay', function(){
    $('body').removeClass('js-drawer-open-left cart-open cart-drawer-open');
  });

  $(document).on('click', '.mobile-nav__toggle-open,.mobile-nav__link[href^="#"]', function(){
    var instance = $(this);

    instance.parent().siblings('.child').slideToggle(400);

    if (instance.is('.mobile-nav__link')) {
      instance = instance.siblings('.mobile-nav__toggle-open');;
    }

    if( instance.hasClass('anime-plus-ver') ) {
      instance.removeClass('anime-plus-ver anime-plus-hor');
    } else {
      instance.addClass('anime-plus-ver anime-plus-hor');  
    }
  });
});
</script>
